<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>House Price Pridiction</title>
    <link rel="stylesheet" type="text/css" href="./static/mycss.css", media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="./static/mycss2.css", media="screen,projection"/>
</head>
<body>
<div id="body">
            <div class='background'>
                <div class="text1">
                    <h1> HOUSE PRICE PREDICTION using Regression </h1>
                </div>
            </div>
    <div class=paragraph1>
        <p>
             This project demonstrates using multiple linear regression for a house price prediction problem.The data used in this problem is Boston housing price dataset.
        </p>
        
    </div>

               

    <div class=paragraph2>
        <p>
        </p>
    </div>
      <div class=form>
        
        <form action="/predict" method="post">
        </Select><br>
            
            <label>Lotsize (in square feet):</label><br>
            <input type="number" placeholder="Enter Lotsize here" id='lotsize' name='lotsize'><br>
            
            
            
            <label>Number of Bedrooms :</label><br>
            <input type="number" placeholder="No. of Bedrooms" id='bedrooms' name='bedrooms'><br>
            
            <label>Number of Bathrooms :</label><br>
            <input type="number" placeholder="No. of Bathrooms" id='bathrms' name='bathrms'><br>
           
            <label>stories:</label><br>
            <input type="number" placeholder="Enter stories(1,2,3,4)" id='stories' name='stories'><br>
            
            </Select><br>
            <label class='select_label'>What about driveway ,want one? </label>
             <Select id='driveway' name='driveway'>
            <option value='1'>Yes</option>
             <option selected value="0" >No</option>
            </Select><br>
        
            </Select><br>
            <label class='select_label'>Do you want recreational room? </label>
                <Select id='recroom' name='recroom'>
            <option value='1'>Yes</option>
             <option selected value="0" >No</option>
                </Select><br>
            
            
            <label class='select_label'>Want a full basement?</label>
             <Select id='fullbase' name='fullbase'>
            <option value='1'>Yes</option>
             <option selected value="0" >No</option>
            </Select><br> 
            
            
            <label class='select_label'>Looking for gas hot water in the house?</label>
            <Select id='gashw' name='gashw'>
            <option value='1'>Yes</option>
             <option selected value="0" >No</option>
                </Select><br>
            
            
            <label class='select_label'>Do you want air conditioning?</label>
          <Select id='airco' name='airco'>
            <option value='1'>Yes</option>
             <option selected value="0" >No</option>
                </Select><br>
            
            
                <label>Number of Garage Places :</label>
            <input type="number" placeholder="No. of Garage places (0,1,2,3,4)" id='garagepl' name='garagepl'><br>
            
            
              <label class='select_label'>Do you have a prefered area?</label>
             <Select id='prefarea' name='prefarea'>
             <option value='1'>Yes</option>
                <option selected value="0" >No</option>
                </Select><br>
                <button id=submitbtn type="submit" value="Submit">Submit</button><br>
           </form>

      </div>
                    <div id=result1>
                </div>

</div>
</body>
            <div id=result>

           <h1> {{pred}}</h1>
            </div>
    
    
</html>
